*~
binding.Makefile
binding.node
binding.target.gyp.mk
build/
build-pre-gyp/
.cache/
*.cover
.coverage
.coverage.*
coverage
coverage/
coverage.lcov
coverage.xml
dist/
docker_data/
.DS_Store
.envrc
gyp-mac-tool
htmlcov/
.karma/
*.lock*
*.log
Makefile.gyp
node_modules/
npm-debug.log
.nyc_output
.nyc_output/
*.o
*.obj
*.orig
package-lock.json
*.patch
*.sln
*.so
*.sock
*.spec
*.sw*
*.swo
*.swp
tmp/
v8.log
*.vcxproj
*.vcxproj.filters
.vscode/
yarn.lock
